<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      <head>
    <title>Lista de libros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
    <nav th:replace="/plantillas/layout::navbar"></nav>



    <div th:if="${libros.empty or libros == null}" class="alert alert-danger text-center container">
        No hay libros
    </div>

    <div style="min-height: 80vh">

        <div class="container mt-2">
            <form th:action="@{/libro/buscar}" class="d-flex align-items-center w-100 justify-content-around">
                <div class="form-group mx-sm-3 w-75">
                    <input type="text" name="palabraClave" class="form-control"
                           id="palabraClave" th:value="${palabraClave}"
                           placeholder="Isbn, titulo, autor, editorial..." required>
                </div>
                <input type="submit" class="btn btn-warning" value="Buscar">
            </form>
        </div>

        <div class="d-flex flex-wrap" th:if="${libros != null and !libros.empty}">
            <div class="row col-12 justify-content-around" >
                <div class=" libro-card justify-content-between my-3" th:each="libro : ${libros}">
                    <div class="card-img-top text-center">
                        <img th:src="@{'/egg-noticias/'+${libro.foto}}" th:alt="${libro.foto}" class="container">
                        <strong class="text-center">[[${libro.titulo}]]</strong>
                    </div>
                    
                </div>
            </div>
        </div>


        <table class="table table-success container" th:if="${libros != null and !libros.empty}">
            <thead>
                <tr>
                    <th scope="col">Isbn</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Alta</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody th:each="libro : ${libros}">
                <tr>
                    <td>[[${libro.isbn}]]</td>
                    <td>[[${libro.titulo}]]</td>
                    <td>[[${libro.ejemplares}]]</td>
                    <td>[[${libro.alta}]]</td>
                    <td>[[${libro.autor.nombre}]]</td>
                    <td>[[${libro.editorial.nombre}]]</td>
                    <td>
                        <a th:href="@{/libro/eliminar/} + ${libro.id}" class="btn btn-danger btn-circle btn-sm ">
                            ✖️
                        </a>
                        <a th:href="@{/libro/editar/} + ${libro.id}" class="btn btn-info btn-circle btn-sm ">
                            ✏️
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <footer th:replace="/plantillas/layout::footer"></footer>
</body>
</html>
