<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria Egg</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <div style="height:100vh" class="d-flex flex-column flex-lg-row flex-sm-row">
            <div class="d-none d-lg-block d-sm-block d-xl-block col-lg-8 col-sm-6 h-100 login"></div>

            <div class="col-lg-4 col-sm-6 d-flex flex-column align-items-center">
                <div class="w-100">
                    <h2 class="site-logo card-header text-center bg-transparent mb-3 p-4">
                        <img src="//moodle.eggeducacion.app/pluginfile.php/1/theme_remui/logo/1656084112/egg-completo.png" class="img-fluid" title="EGG" alt="EGG">
                    </h2>
                    <hr>
                </div>
                <h2 class="mb-5">Iniciar Sesion</h2>
                <form method="post" th:action="@{/login}">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control">
                    
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control">
                    
                    <input type="submit" class="btn btn-warning my-2" value="Acceder">
                </form>
            </div>
            
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>
</html>
